{{ define "main" }}
{{ if eq .Type "testimonials" }}
<div class="testimonial-container">
    <div class="testimonial-text">
        <p>{{ .Content }}</p>
    </div>
    <div class="testimonial-image">
        <img src="/images/testimonial-letter.jpg" alt="Testimonial Letter">
    </div>
</div>
{{ else }}
<div class="prose prose-stone dark:prose-invert max-w-none">
    <div class="mb-3">
        <h1 class="top-h1" style="font-size: 2.75em">{{- .Title -}}</h1>
        <p class="mb-1">{{ .Date.Format "January 2, 2006" }}</p>
    </div>
    <div class="content" style="text-align: justify;">
        {{ .Content }}
    </div>
</div>
{{ partial "prevnext" . }}
{{ end }}
{{ end }}
